USE [SalesManagementDB]
GO
ALTER TABLE [dbo].[SalesRepresentatives] DROP CONSTRAINT [FK_dbo.SalesRepresentatives_dbo.WorkRoutes_WorkRouteId]
GO
/****** Object:  Index [IX_WorkRouteId]    Script Date: 6/7/2019 1:00:11 PM ******/
DROP INDEX [IX_WorkRouteId] ON [dbo].[SalesRepresentatives]
GO
/****** Object:  Table [dbo].[WorkRoutes]    Script Date: 6/7/2019 1:00:11 PM ******/
DROP TABLE [dbo].[WorkRoutes]
GO
/****** Object:  Table [dbo].[SalesRepresentatives]    Script Date: 6/7/2019 1:00:11 PM ******/
DROP TABLE [dbo].[SalesRepresentatives]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/7/2019 1:00:11 PM ******/
DROP TABLE [dbo].[__MigrationHistory]
GO
USE [master]
GO
/****** Object:  Database [SalesManagementDB]    Script Date: 6/7/2019 1:00:11 PM ******/
DROP DATABASE [SalesManagementDB]
GO
/****** Object:  Database [SalesManagementDB]    Script Date: 6/7/2019 1:00:11 PM ******/
CREATE DATABASE [SalesManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SalesManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SalesManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SalesManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SalesManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SalesManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SalesManagementDB]
GO
USE [SalesManagementDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/7/2019 1:00:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesRepresentatives]    Script Date: 6/7/2019 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesRepresentatives](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[TelephoneNumber] [int] NOT NULL,
	[JoinedDate] [datetime] NULL,
	[WorkRouteId] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SalesRepresentatives] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkRoutes]    Script Date: 6/7/2019 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkRoutes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.WorkRoutes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SalesRepresentatives] ON 

INSERT [dbo].[SalesRepresentatives] ([Id], [Name], [Email], [TelephoneNumber], [JoinedDate], [WorkRouteId], [Comment]) VALUES (5, N'Jhon', N'jhon@gmail.com', 711234126, CAST(N'1993-04-06T00:00:00.000' AS DateTime), 10, N'Good Records')
INSERT [dbo].[SalesRepresentatives] ([Id], [Name], [Email], [TelephoneNumber], [JoinedDate], [WorkRouteId], [Comment]) VALUES (6, N'Mark', N'mark@gmail.com', 719599249, CAST(N'2018-06-04T00:00:00.000' AS DateTime), 11, N'Abovce Average')
INSERT [dbo].[SalesRepresentatives] ([Id], [Name], [Email], [TelephoneNumber], [JoinedDate], [WorkRouteId], [Comment]) VALUES (7, N'Mike', N'mike@gmail.com', 711237898, CAST(N'2017-04-06T00:00:00.000' AS DateTime), 9, N'Excelent')
SET IDENTITY_INSERT [dbo].[SalesRepresentatives] OFF
SET IDENTITY_INSERT [dbo].[WorkRoutes] ON 

INSERT [dbo].[WorkRoutes] ([Id], [Name]) VALUES (9, N'Colombo A001')
INSERT [dbo].[WorkRoutes] ([Id], [Name]) VALUES (10, N'Colombo A002')
INSERT [dbo].[WorkRoutes] ([Id], [Name]) VALUES (11, N'Kandy A005')
SET IDENTITY_INSERT [dbo].[WorkRoutes] OFF
/****** Object:  Index [IX_WorkRouteId]    Script Date: 6/7/2019 1:00:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_WorkRouteId] ON [dbo].[SalesRepresentatives]
(
	[WorkRouteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SalesRepresentatives]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SalesRepresentatives_dbo.WorkRoutes_WorkRouteId] FOREIGN KEY([WorkRouteId])
REFERENCES [dbo].[WorkRoutes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesRepresentatives] CHECK CONSTRAINT [FK_dbo.SalesRepresentatives_dbo.WorkRoutes_WorkRouteId]
GO
USE [master]
GO
